*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    background-color: #111;
}
.container{
    margin-top: 7em;
    width: 600px;
    height: 600px;
    background-color: antiquewhite;
    padding: 1em;
}
h2{
    text-align: center;
    border-bottom: 2em;
    height: 20%;
}
.icon-container{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 5em;
    justify-content: space-evenly;
    color: burlywood;
    
}
.icon:hover{
    transition: all ease 0.5s;
}
.icon-container .icon:hover{
    transform: scale(1.5)
}
.selection-container{
    display: flex;
    width: 100%;
    font-size: 2em;
    justify-content: space-evenly;
    height: 30%;
}

.selection-container .icon{
    color: burlywood;
    margin-top: 1em;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5em;
}
.result{
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}